.container {
    max-width: 90%;
    row-gap: 1.5em;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn{
    align-self: flex-end;
    height: 2em;
  }

  .all-btns{
    display: flex;
    gap: 1em;
  }


  div > a{
    color: #777;
    text-decoration: none;
  }

  .posts > div:active,  .posts > div:hover{
    transform: scale(1.0);
  }

  .post >a {
    display: flex;
    flex-direction: column;
    gap:1.2em;
  }

  .post-body{    
    font-size: 1.1em;
  }

  .post-title{
    font-weight: bold;
  }

  .post-date{
    font-size: .8em;
  }

  @media(max-width: 1229px){
    .posts{
      justify-content: center;
    }
  }

  @media(max-width: 460px){
    .posts > .post{
      width: 80vw;
    }
  }