.container {
    max-width: 85%;
    /* border: 1px solid red; */
    margin: 60px auto;
    display: flex;
    gap: 1.5em;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
  }


  label{
    display: flex;
    gap: 1em;
    align-items: center;
    min-width: 60%;
  }

  .post-container{
    gap: 1em;
    display: flex;
    flex-direction: column;
  }

  .heading-container{
    display: flex;
  }

  .post-title{
    height: 1.2em;
  }

  .all-btns{
    display: flex;
    gap: 1em;
    margin-left: auto;
  }

  .markdown-container{
    width: 100%;
    display: flex;
    gap: 2em;
  }

  .markdown-container > *{
    width: 49%;
    /* border: 1px solid red; */
    height: 70vh;
  }

  .box-title{
    height: 1.4em;
    font-size: 1.5em;
  }
  
  .input-output-container{
    margin-top: .2em;
    border-radius: 5px;
    padding: 1.2em;
    overflow-Y: scroll;
    border: 1px solid #111;
    height: 87%;
  }

  textarea{
    width: 98%;
    height: 100%;
    white-space: pre-wrap;
    border: none;
    resize: none;
    font-size: 1.2em;
    outline: none;

  }

  .modalbackdrop{
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  .modal{
    background: #fff;
    border: 1px solid green;
    border-radius: 5px;
    padding: 1em;
  }

@media(max-width: 1070px){
  .all-btns{
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
  }

  .all-btns > button{
    padding: .15px 10px;
  }

  .markdown-container > *{
    max-width: 85vw;
    /* border: 1px solid red; */
    height: 70vh;
  }

  .input-output-container{
    height: 80%;
  }

  .post-heading{
    width: 60%; 
  }

  .markdown-container{
    flex-direction: column;
  }

  .markdown-container > *{
    width: 100%;
    height: 45vh;
  }

  .heading-container{
    flex-direction: column;
  }

  .heading-container > input{
    width: 90%;
  }

}