@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');

:root{
  --accent-one: #546de5;
  --accent-two: rgb(232, 232, 241);
}
/* Resets and Base Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Saira', sans-serif;
  margin: 0;
  font-size: 1.1em;
}

ul {
  list-style-type: none;
}

/*Navbar*/

/* navbar styles */
.navbar {
  width: 100%;
  background: var(--accent-two);
  padding: 20px 10px;
  box-sizing: border-box;

}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 85vw;
  align-items: center;
}

.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.navbar button, .navbar a {
  margin-left: 16px;
}

.navbar a {
  color: var(--accent-one);
  text-decoration: none;
}

.post-heading{
  line-height: 2em;
  width: 70%; 
  font-size: 1.2em;
  border: none;
  border-bottom: 2px solid var(--accent-one);
  outline: none;
}

@media(max-width: 720px){
  .navbar ul{
    flex-direction: column;
    gap: .4em;
    justify-content: center;
  }

  li{
    width: 100%;
    text-align: center;
  }
  
}


/* Button */
button {
  background: var(--accent-one);
  border: none;
  padding: 3px 15px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Saira', sans-serif;
  transition: transform 90ms;
}

button:active{
  transform: scale(.95);
}

/* Forms */

form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

form > input {
  padding: 8px 6px;
  margin: .5em 0px;
  font-size: 1em;
  color: #777;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--accent-one);
}

form > input:focus{
  border: 3px solid var(--accent-one);
}

@media(max-width: 480px){
form {
      max-width: 80vw;
  }
  
}

