@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');

:root{
  --accent-one: #546de5;
  --accent-two: rgb(232, 232, 241);
}
/* Resets and Base Styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Saira', sans-serif;
  margin: 0;
  font-size: 1.1em;
}

ul {
  list-style-type: none;
}

/*Navbar*/

/* navbar styles */
.navbar {
  width: 100%;
  background: var(--accent-two);
  padding: 20px 10px;
  box-sizing: border-box;

}
.navbar > ul {
  display: flex;
  margin: 0 auto;
  max-width: 85vw;
  align-items: center;
}

.user-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1em;
  margin-right:1em;
}

.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}


.navbar a {
  color: var(--accent-one);
  text-decoration: none;
}

.post-heading{
  line-height: 2em;
  width: 70%; 
  font-size: 1.2em;
  border: none;
  border-bottom: 2px solid var(--accent-one);
  outline: none;
}

@media(max-width: 720px){
  .navbar > ul{
    flex-direction: column;
    justify-content: center;
  }

  li{
    width: 100%;
    text-align: center;
  }

  .user-info{
    flex-direction: column;
    margin-right: 0px;
    gap: 0em;
  }

  
}

/* Button */
.btns{
  display: flex;
  justify-content: space-between;
}

.btns > img{
  transition: all 300ms;
}

.btns > img:active{
  transform: scale(.95);
}


button {
  background: var(--accent-one);
  border: none;
  padding: 3px 15px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Saira', sans-serif;
  transition: transform 90ms;
}

button:active{
  transform: scale(.95);
}

/* Forms */

form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

form > input {
  padding: 8px 6px;
  margin: .5em 0px;
  font-size: 1em;
  color: #777;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--accent-one);
}

form > input:focus{
  border: 3px solid var(--accent-one);
}

.login-signup{
  margin: 0px auto;
  display: flex;
}

.login-signup > *{
  min-width: 50%;
  text-align: center;
}


.blue-white{
  background: var(--accent-one);
  color: #fff;
  width: 100%;
}

@media(max-width: 480px){
form {
      max-width: 80vw;
  }

.login-signup > a >h1{
  font-size: 1em;
}

.btns{
  margin-top: 1em;
  flex-direction: column;
  gap: 1em;
}

.btns > img{
  height: 2em;
}
  
}

